<configuration>
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <springProfile name="docker">
            <destination>logstash:5050</destination>
        </springProfile>
        <springProfile name="local">
            <destination>localhost:5050</destination>
        </springProfile>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <reconnectionDelay>10000</reconnectionDelay>
        <connectionTimeout>5000</connectionTimeout>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>